body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 30, 78, 0.589)), to(rgba(7, 30, 78, 0.589))), url(../images/headerimg6.jpg);
  background: linear-gradient(rgba(7, 30, 78, 0.589), rgba(7, 30, 78, 0.589)), url(../images/headerimg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.headertextmain {
  font-weight: 500;
  font-size: 3rem;
  padding-bottom: 15px;
}

.headertextsub {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 37.5px;
}

.footericon {
  height: 30px;
  margin: 13px;
}

/***Sidebar***/
.sideNavbar {
  background-color: #e2e2e2;
  padding-bottom: 20px;
}

.sideNavbar .sidebarHeading {
  background-color: #192E60;
  color: white;
  padding: 20px;
}

.sideNavbar .sidebarContent .sidebarTitle {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
}

.sideNavbar .sidebarContent .hrdrit {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-color: gray;
}

.sideNavbar .sidebarContent .sidebarLink {
  display: block;
  color: black;
  padding: 10px;
  padding-left: 25px;
}

.sideNavbar .sidebarContent .sidebarLink:hover {
  text-decoration: none;
  background-color: lightgray;
}

@media (max-width: 1200px) {
  .sideNavbar {
    display: none;
  }
}

/***End - Sidebar***/
/* Sidebar collapse */
@media (min-width: 1200px) {
  .openbtn, .blah, .sideNavbarCollapse {
    display: none;
  }
  /**FIX why u not work???????? :(**/
  #bleh, #sideNavbarC {
    width: 0px;
  }
}

.sideNavbarCollapse {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  background-color: #e2e2e2;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  /**padding-top: 10px;**/
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sideNavbarCollapse .closebtn {
  position: absolute;
  left: 230px;
  top: -5px;
  font-size: 36px;
  color: white;
}

.sideNavbarCollapse .sidebarHeading {
  padding: 10px;
  padding-left: 15px;
  background-color: #192E60;
  color: white;
  margin: 0;
}

.sideNavbarCollapse .smallServiceIcon {
  width: 40px;
}

.sideNavbarCollapse .sidebarTitle {
  font-size: 16px;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bolder;
  /*border-bottom:1px solid lightgray;
    box-shadow: 0 8px 6px -6px lightgray;*/
}

.sideNavbarCollapse .hrdrit {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-color: gray;
}

.sideNavbarCollapse .sidebarLink {
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  display: block;
  color: black;
}

.sideNavbarCollapse .sidebarLink:hover {
  text-decoration: none;
}

.blah {
  background-color: rgba(0, 0, 0, 0.5);
  width: 0;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

/***Contact persons***/
.contactSection {
  margin-top: 20px;
}

.contactPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  max-width: 350px;
}

.contactPerson .contactImg {
  border-radius: 50%;
}

/***End - contact persons****/
/*# sourceMappingURL=main.css.map */