body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
        flex: 1 0 auto;
    }
}

header{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(7, 30, 78, 0.589), 
      rgba(7, 30, 78, 0.589)
    ),
    /* bottom, image */
    url(../images/headerimg6.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    height: 400px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}


.headertextmain {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 15px;
  }
  
.headertextsub {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 37.5px;
  }
