/********** COLORS **********/
/*********** FONTS **********/
p {
  font-size: 1rem;
  line-height: 2rem;
}

h1 {
  margin-bottom: 30px;
  font-weight: lighter;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.3rem;
}

h3 {
  font-weight: lighter;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: lighter;
}

/********** GENERAL **********/
body {
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1050px;
  }
}

.navbar {
  -webkit-box-shadow: 0 0 5px 1px rgba(133, 133, 133, 0.51);
          box-shadow: 0 0 5px 1px rgba(133, 133, 133, 0.51);
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar .logoImg {
  height: 50px;
}

.navbar li {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.navbar li .navbarLink {
  font-size: 1rem;
  color: black !important;
  padding-top: 26px;
  padding-bottom: 26px;
}

.navbar li .navbarLink:hover {
  text-decoration: underline;
}

.navbar li .activeNavbar {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .navbar {
    overflow: auto;
    max-height: 85vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.dropdownSection {
  border-radius: 0px;
  margin-top: 0px;
  border: none;
  background-color: whitesmoke;
}

.dropdownSection .dropdown-item:hover {
  background-color: #e2e2e2;
  color: black;
}

.dropdown:hover {
  background-color: whitesmoke;
  color: black;
}

.dropdown:hover .navbarLink {
  text-decoration: none !important;
}

.iconSearch {
  height: 25px;
}

.iconSearch2 {
  display: none;
}

.iconSearch1 {
  margin-top: 20px;
}

.searchbar {
  -webkit-transition: none !important;
  transition: none !important;
  width: 500px;
  padding: 15px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  position: absolute;
  z-index: 1;
  top: 85px;
  right: 10px;
}

.searchbar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchbar form input[type="search"] {
  outline: none !important;
  width: 85%;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.searchbar form button {
  background-color: #192E60;
  width: 15%;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media (min-width: 990px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media (max-width: 990px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar li .navbarLink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .dropdown:hover {
    background-color: white;
  }
  .dropdownSection {
    background-color: white;
  }
  .dropdownSection .dropdown-item:hover {
    background-color: #e7e7e7;
  }
  .searchbar {
    width: 100%;
    padding: 15px;
    background-color: white;
    position: relative;
    margin: 0;
    z-index: 0;
    top: 0px;
    right: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .iconSearch1 {
    display: none;
  }
  .iconSearch2 {
    display: inline-block;
    margin-right: 10px;
  }
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.closeButton {
  border: none;
}

footer {
  margin-top: 100px;
  width: 100%;
  min-height: 150px;
  background-color: #192E60;
  color: white;
  padding: 30px;
}

footer .footerSection {
  padding: 20px;
}

footer .footerSection .footericon {
  height: 30px;
  margin: 13px;
}

footer .footerSection .newsul {
  list-style: none;
  margin-left: -40px;
  line-height: 2.1rem;
}

footer .footerSection .newsul .newsli a {
  color: lightblue;
}

/**********END - GENERAL**********/
/**********FRONT PAGE**********/
header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 30, 78, 0.589)), to(rgba(7, 30, 78, 0.589))), url(../images/headerImg.jpg);
  background: linear-gradient(rgba(7, 30, 78, 0.589), rgba(7, 30, 78, 0.589)), url(../images/headerImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .txtHeader {
  text-align: center;
  width: 500px;
}

header .txtHeader .headertxtmain {
  font-weight: 500;
  font-size: 3rem;
  padding-bottom: 15px;
}

header .txtHeader .headertxtsub {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 37.5px;
}

.servicesSection {
  padding-top: 30px;
  margin-bottom: 60px;
}

.servicesSection .serviceCatSection {
  text-align: center;
}

.servicesSection .serviceCatSection .serviceCatIcon {
  width: 200px;
}

.servicesSection .serviceCatSection .serviceHeading {
  width: 300px;
  min-height: 60px;
  margin: auto;
  margin-bottom: 15px;
}

.servicesSection .serviceCatSection .btnService {
  width: 290px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #192E60;
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 0px;
}

.servicesSection .serviceCatSection .btnService:hover {
  background-color: #22418a;
}

.totalDeliverySection {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e2e2e2;
  text-align: center;
}

.totalDeliverySection .totaldeliveryTxt {
  margin: auto;
}

.totalDeliverySection .imgMobileVisible {
  max-width: 150px;
}

.totalDeliverySection button {
  margin-top: 30px;
}

@media only screen and (min-width: 769px) {
  .imgMobileVisible {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .imgDesktopVisible {
    display: none;
  }
}

.valuesSection {
  margin-top: 60px;
  margin-bottom: 60px;
}

.valuesSection .value {
  position: relative;
  margin-top: 30px;
}

.valuesSection .value img {
  width: 100%;
  border: 1px solid lightgray;
}

.valuesSection .value img:hover {
  -webkit-box-shadow: 1px 1px 4px 1px #bebebe;
          box-shadow: 1px 1px 4px 1px #bebebe;
}

.valuesSection .value .valueHeading {
  font-size: 20px;
  text-align: center;
  color: black;
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 200px;
  padding: 10px;
  margin: 0px;
}

.newsSection .newsArticleSection {
  margin-bottom: 30px;
  margin-top: 30px;
  color: black;
}

.newsSection .newsArticleSection .newsCardContent {
  border: 1px solid lightgray;
}

.newsSection .newsArticleSection .newsCardContent .newsCardTxt {
  margin-left: 10px;
  margin-right: 10px;
}

.newsSection .newsArticleSection .newsCardContent .newsCardTxt .newsSectionHeading {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.newsSection .newsArticleSection .newsCardContent .newsCardTxt .dateNewsArticle {
  font-size: 14px;
  margin-bottom: 0px;
}

.newsSection .newsArticleSection .newsCardContent .newsCardTxt hr {
  margin-top: 0;
  margin-bottom: 5px;
}

.newsSection .newsArticleSection .newsCardContent:hover {
  -webkit-box-shadow: 1px 1px 4px 1px #bebebe;
          box-shadow: 1px 1px 4px 1px #bebebe;
}

.newsSection .newsArticleSection:hover {
  text-decoration: none;
}

.newsSection .newsArticleSection .newsThumbnail {
  width: 100%;
}

/**********END - FRONT PAGE**********/
/********** ARITCLE PAGES **********/
.articleContainer {
  margin-top: 30px;
}

.article {
  line-height: 1.8;
  padding-right: 50px;
}

.article .articleImg {
  padding-bottom: 20px;
}

@media (max-width: 990px) {
  .article {
    padding-right: 15px;
  }
}

.breadcrumb {
  background-color: white;
  margin-top: 30px;
  padding: 0;
}

.serviceTagSection {
  margin-top: 30px;
}

.serviceTagSection .serviceTag {
  margin: 5px;
  margin-left: 0px;
  border-color: #192E60;
  color: #192E60;
}

.serviceTagSection .serviceTag:hover {
  background-color: #192E60;
  color: white;
}

.articleEnglish {
  margin: auto;
}

.headingTop {
  margin-top: 30px;
}

#share-buttons {
  margin-bottom: 20px;
}

/*****Sidebar*****/
.sideNavbar {
  background-color: #e2e2e2;
  padding-bottom: 20px;
}

.sidebarHeading {
  background-color: #192E60;
  color: white;
  padding: 15px;
  margin: 0;
  white-space: nowrap;
}

.sidebarContent .sidebarTitle {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
}

.sidebarContent .hrSidebar {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-color: #b6b3b3;
}

.sidebarContent .activeSidebar {
  background-color: lightgray;
}

.sidebarContent .sidebarLink {
  font-size: 15px;
  display: block;
  color: black;
  padding: 10px;
  padding-left: 25px;
}

.sidebarContent .sidebarLink:hover {
  text-decoration: none;
  background-color: lightgray;
}

.sideNavbarCollapse {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1021;
  top: 0;
  left: 0px;
  background-color: #e2e2e2;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.sideNavbarCollapse .closebtn {
  position: absolute;
  left: 250px;
  font-size: 36px;
  color: white;
}

.sideNavbarCollapse .closebtn:hover {
  text-decoration: none;
}

.overlaySidebar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 0;
  height: 100vh;
  z-index: 1021;
  position: fixed;
  top: 0;
  left: 0;
}

.expandbutton {
  background-color: #22418a;
  color: white;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  right: 20px;
}

.expandbutton:hover {
  color: white;
  background-color: #3e65be;
}

@media (max-width: 991px) {
  .sideNavbar {
    display: none;
  }
  aside .contactSection {
    display: none;
  }
}

/* Sidebar collapse */
@media (min-width: 991px) {
  .openbtn, .overlaySidebar, .sideNavbarCollapse {
    display: none;
  }
}

/****End - Sidebar*****/
/***********End - ARITCLE PAGES**********/
/*********** SEARCH PAGE ***********/
.searchSection {
  margin-top: 20px;
}

.searchSection .searchResultHeading {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.searchSection .searchForm {
  margin-bottom: 30px;
}

.searchForm {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchForm input[type="search"] {
  outline: none !important;
  width: 85%;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.searchForm button {
  background-color: #192E60;
  width: 15%;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.searchResult {
  color: black;
  padding: 20px;
}

.searchResult:hover {
  text-decoration: none;
}

/***********End - SEARCH PAGE ***********/
/********* CONTACT PAGE ********/
.contactTxt {
  margin: auto;
  margin-bottom: 30px;
}

.contactForm {
  margin: auto;
}

.contactForm input, .contactForm select, .contactForm textarea {
  border-radius: 0px;
  background-color: rgba(238, 238, 238, 0.87);
  border: none;
}

.contactFormModal {
  margin: auto;
  text-align: left;
}

.contactFormModal input, .contactFormModal select, .contactFormModal textarea {
  border-radius: 0px;
}

.modaleTitle {
  font-size: 1.3rem;
  padding-left: 15px;
}

.modal-content {
  border-radius: 0px !important;
}

/*****Contact persons*****/
.contactSection {
  margin-top: 20px;
}

.contactPerson {
  margin-top: 30px;
}

.contactPerson .contactImg {
  border-radius: 50%;
  max-width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.contactPerson .contactInfo {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.contactPerson .contactInfo h4 {
  margin-bottom: 0px;
}

.contactPerson .contactInfo p {
  font-size: 14px;
  color: gray;
  margin: 5px;
}

.contactPerson .buttonBorder {
  border: 1px solid lightgray;
}

/*****End - contact persons******/
/*********End - CONTACT PAGE ********/
/********* ERROR 404 **********/
.errortitle {
  font-size: 4rem;
  padding-top: 40px;
  padding-bottom: 40px;
}

.errortext {
  font-size: 1.5rem;
}

.errorlink {
  font-size: 1.5rem;
}

.errorimage {
  max-width: 150px;
  padding-top: 60px;
}

/***********End - ERROR 404 **********/
/*********Customerstory and News*********/
.yearArchiveSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yearArchive {
  margin-left: auto;
}

.yearArchive:hover .dropdown-content, .yearArchive:active .dropdown-content {
  display: block;
}

.yearArchive .button {
  background-color: white;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  cursor: pointer;
}

.yearArchive .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.yearArchive .dropdown-content a {
  display: block;
  padding: 5px;
  color: black;
}

.yearArchive .dropdown-content a:hover {
  background-color: #ececec;
  text-decoration: none;
}

.largeThumbnailLink:hover {
  text-decoration: none;
}

.largeThumbnailSection {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
  padding-bottom: 40%;
}

.largeThumbnailSection a {
  text-decoration: none;
}

.largeThumbnail {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.largeThumbnailContent {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  position: absolute;
  width: 700px;
  padding: 20px;
  bottom: 20px;
  right: 20px;
}

.largeThumbnailContent .serviceHeadline {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  margin: 0;
}

.largeThumbnailContent .serviceName {
  font-size: 14px;
  margin: 0;
}

.largeThumbnailContent:hover {
  background-color: white;
  color: black;
}

.smallThumbnailNews {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .largeThumbnailSection {
    padding: 0px;
  }
  .largeThumbnailContent {
    position: relative;
    width: 100%;
    bottom: 0px;
    right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .largeThumbnail {
    position: relative;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .smallThumbnailNews {
    display: block;
  }
  .largeThumbnailNews {
    display: none;
  }
}

/*********End - Customerstory and News*********/
/*# sourceMappingURL=main.css.map */