/**********COLORS**********/

$primary-color: #192E60;
$secondary-color: #e2e2e2;

/**********END - COLORS**********/

/**********GENERAL**********/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
        flex: 1 0 auto;
    }
}

@media (min-width: 1200px) {
  .container{
      max-width: 1200px;
  }
}
@media (min-width:990px) {
  .padding{
    padding-left:70px;
    padding-right:70px;
  }
}
/*
.padding{
  padding-left:70px;
  padding-right:70px;
}

@media (max-width:990px) {
  .padding{
    padding-left:5px;
    padding-right:5px;
  }
}
*/
.navbar{
  /*border-bottom: 1px solid gray;*/
  box-shadow: 0px 15px 10px -20px #111;
  .logoImg{
    height: 50px;
  }
  li {
    margin-left : 0.5em;
    margin-right : 0.5em;
    .navbarLink{
      color:black !important;
    }
  }
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdownSection{
  border-radius: 0px;
  .dropdown-item{
    &:active{
      background-color: $secondary-color;
      color:black;
    }
  }
}
.iconSearch{
  height: 25px;
  cursor: pointer;
}
.iconSearch2{
  display: none;
}
.searchbar{
  transition: none !important;
  width: 500px;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  position: absolute;
  z-index: 1;
  top:85px; 
  right:10px;
  form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    input[type="search"]{
      outline: none !important;
      width: 85%;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    button{
      background-color: $primary-color;
      width: 15%;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
    
  }
}
@media (max-width:990px) {
  .searchbar{
    width: 100%;
    padding: 15px;
    background-color: white;
    position: relative;
    margin: 0;
    z-index: 0;
    top:0px; 
    right:0px;
    box-shadow: none;
  }
  .iconSearch1{
    display: none;
  }
  .iconSearch2{
    display: inline-block;
    margin-right:10px;
  }
}
footer{
  @extend .padding;
  margin-top: 50px;
  width: 100%;
  min-height: 150px;
  background-color:#192E60; 
  color:white;
  padding:30px;
 .footerSection{
  padding:20px;
  .footericon {
    height: 30px;
    margin: 13px;
  }
  .newsul {
    list-style: none;
    margin-left: -40px;
    line-height: 2.1rem;
    .newsli {
        a {
            color: lightblue;
        }
    }
  }
 }

 
}
/**********END - GENERAL**********/

/**********FRONT PAGE**********/
header{
    background: 
    linear-gradient(
      rgba(7, 30, 78, 0.589), 
      rgba(7, 30, 78, 0.589)
    ),
    /* bottom, image */
    url(../images/headerimg6.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    height: 400px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    .txtHeader{
      text-align: center;
      width: 500px;
      .headertxtmain {
        font-weight: 500;
        font-size: 3rem;
        padding-bottom: 15px;
      }
      .headertxtsub {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 37.5px;
      }
    }
}

.servicesSection{
  padding-top: 30px;
  margin-bottom: 60px;
  .serviceCatSection{
    text-align: center;
    margin-top: 60px;
    .serviceCatIcon{
      width: 80px ;
    }
    .serviceHeading{
        font-size:20px ;
        width: 300px;
        min-height: 60px;
        margin: auto;
    }
    .btnService{
      width: 290px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color:$primary-color;
      color:white;
      display: block;
      margin: auto;
      margin-bottom: 5px;
      border-radius: 0px;
    }
  }
}
.totalDeliverySection{
  @extend .padding;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e2e2e2;
  text-align: center;
  .subHeading{
    font-weight: 400;
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
  .totaldeliveryTxt{ 
    margin: auto;
    padding:20px;
    max-width: 900px;
  }
  .imgDesktopVisible{
    
  }
  .imgMobileVisible {
    max-width: 150px;

  }
  button{
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .imgMobileVisible {
  display: none;
  }
}
@media only screen and (max-width: 768px) {
  .imgDesktopVisible {
  display: none;  
  }
}
.valuesSection{
  margin-top: 50px;
  @extend .padding;
  .value{
    /**background: rgb(7, 30, 78, 0.589);**/
    padding: 20px;
    img{/*fix*/
      width: 100%;
      height: 250px;
    }
    .valueHeading{
      font-size: 20px;
      text-align: center;
      padding: 10px;
      color:black;
      position: absolute;
      bottom: -10px;
      left: 110px;
      transform: translate(-50%, -50%);
      background-color: $secondary-color;
      min-width: 180px;
    }
  }
}
.newsSection{
  margin-top: 30px;
  @extend .padding;
  h2{
    padding:20px;
  }
  .newsArticleSection{
    margin-bottom: 30px;
    position: relative;
    color:black;
    .newsSectionHeading{
      font-size: 18px;
      margin-top: 10px;
    }
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
    .newsThumbnail{
      width: 100%;
    }
    hr{
      margin: 0;
      border-color: #111;
    }
    .dateNewsArticle{
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
/**********END - FRONT PAGE**********/

/*******************************************************************************************************************/






/***Sidebar***/
.sideNavbar{
  background-color: #e2e2e2;
  padding-bottom: 20px;
}
.sidebarHeading{
  background-color:#192E60; 
  color:white;
  padding:15px;
  margin: 0;
  white-space: nowrap;
}
.sidebarContent{
  .sidebarTitle{
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;

  }
  .hrSidebar{
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-color: rgb(182, 179, 179);
  }
  .sidebarLink{
    white-space: nowrap;
    font-size: 15px;
    display: block;
    color:black;
    padding: 10px;
    padding-left: 25px;
    &:hover{
      text-decoration: none;
      background-color: lightgray;
    }
  }
}

@media (max-width:1200px) {
  .sideNavbar{
    display: none;
  }
}



/* Sidebar collapse */
@media (min-width:1200px) {
  .openbtn,.overlaySidebar, .sideNavbarCollapse {
    display: none;
  }
}
.sideNavbarCollapse {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: #e2e2e2;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-y: auto;
    -webkit-transition: .5s;
    transition: .5s;
    .closebtn {
      position: absolute;
      left: 250px;
      font-size: 36px;
      color:white;
      &:hover{
        text-decoration: none;
      }
    }
}
.overlaySidebar{
  background-color:rgba(0, 0, 0, 0.5);
  width: 0;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}
/***End - Sidebar***/

/***Contact persons***/
.contactSection{
    margin-top: 20px;
  }
  .contactPerson{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 350px;
    .contactImg{
      border-radius: 50%;
    }
  }

  /***End - contact persons****/