/********** COLORS **********/

$primary-color: #192E60;
$secondary-color: #e2e2e2;


/*********** FONTS **********/

$fontfamily: 'Open Sans', sans-serif;
$font-sizep: 1rem;
$font-size1: 2.8rem;
$font-size2: 1.6rem;
$font-size3: 1.5rem;
$font-size4: 1.1rem;
$line-height1: 2rem;
$h1space: 30px;
$h2space: 20px;

p {
    font-size: $font-sizep;
    line-height: $line-height1;
}

h1 {
    margin-bottom: $h1space;
    font-weight: lighter;
}

h2 {
    margin-bottom: $h2space;
    font-size: $font-size2;
    font-weight: lighter;
    line-height: 2.3rem;
}

h3 {
    font-weight: lighter;
    font-size: $font-size3;
}

h4 {
    font-size: $font-size4;
    font-weight: lighter;
}

/********** GENERAL **********/
body {
    font-family: $fontfamily;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
        flex: 1 0 auto;
    }
}

@media (min-width: 1200px) {
  .container{
      max-width: 1050px;
  }
}

.navbar {
  box-shadow: 0px 15px 10px -20px #111;
  background-color: white;
  .logoImg{
    height: 50px;
  }
  li {
    margin-left : 0.4em;
    margin-right : 0.4em;
    .navbarLink {
      font-size: 1rem;
      color:black !important;
    }
  }
}
.dropdown:hover{
  .dropdown-menu {
    display: block;
  }
}
.dropdownSection{
  border-radius: 0px;
  .dropdown-item{
    &:active{
      background-color: $secondary-color;
      color:black;
    }
  }
}
.iconSearch{
  height: 25px;
  cursor: pointer;
}
.iconSearch2{
  display: none;
}
.searchbar{
  transition: none !important;
  width: 500px;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  position: absolute;
  z-index: 1;
  top:85px; 
  right:10px;
  form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    input[type="search"]{
      outline: none !important;
      width: 85%;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    button{
      background-color: $primary-color;
      width: 15%;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
    
  }
}
@media (max-width:990px) {
  .searchbar{
    width: 100%;
    padding: 15px;
    background-color: white;
    position: relative;
    margin: 0;
    z-index: 0;
    top:0px; 
    right:0px;
    box-shadow: none;
  }
  .iconSearch1{
    display: none;
  }
  .iconSearch2{
    display: inline-block;
    margin-right:10px;
  }
}
#share-buttons {
  img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
  }
}
footer{
  margin-top: 100px;
  width: 100%;
  min-height: 150px;
  background-color:#192E60; 
  color:white;
  padding:30px;
 .footerSection{
  padding:20px;
  .footericon {
    height: 30px;
    margin: 13px;
  }
  .newsul {
    list-style: none;
    margin-left: -40px;
    line-height: 2.1rem;
    .newsli {
        a {
            color: lightblue;
        }
    }
  }
 }
}
/**********END - GENERAL**********/

/**********FRONT PAGE**********/
header{
    background: 
    linear-gradient(
      rgba(7, 30, 78, 0.589), 
      rgba(7, 30, 78, 0.589)
    ),
    /* bottom, image */
    url(../images/headerImg.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    height: 400px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    .txtHeader{
      text-align: center;
      width: 500px;
      .headertxtmain {
        font-weight: 500;
        font-size: 3rem;
        padding-bottom: 15px;
      }
      .headertxtsub {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 37.5px;
      }
    }
}

.servicesSection{
  padding-top: 30px;
  margin-bottom: 60px;
  .serviceCatSection{
    text-align: center;
    .serviceCatIcon{
      width: 200px ;
    }
    .serviceHeading{
      width: 300px;
      min-height: 60px;
      margin: auto;
      margin-bottom: 15px;
    }
    .btnService{
      width: 290px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color:$primary-color;
      color:white;
      display: block;
      margin: auto;
      margin-bottom: 5px;
      border-radius: 0px;
      &:hover{
        background-color: rgb(34, 65, 138);
      }
    }
    
  }
}
.totalDeliverySection{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $secondary-color;
  text-align: center;
  .totaldeliveryTxt{ 
    margin: auto;
    
  }
  .imgMobileVisible {
    max-width: 150px;
  }
  button{
    margin-top: 30px;
  }
}

@media only screen and (min-width: 769px) {
  .imgMobileVisible {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .imgDesktopVisible {
    display: none;  
  }
}
.valuesSection{
  margin-top: 60px;
  .value{
    position: relative; 
    margin-top:30px;
    img{/*fix*/
      width: 100%;
    }
    .valueHeading{
      font-size: 20px;
      text-align: center;
      color:black;
      position: absolute;
      bottom: 20px;
      right: 30px;
      background-color: rgba(255, 255, 255, 0.9);
      min-width: 200px;
      padding:10px;
      margin:0px; 
    }
    .valueIcon{
      width: 40px;
      height: 40px;;
    }
  }
}
.newsSection{
  margin-top: 30px;
  .newsArticleSection{
    margin-bottom: 30px;
    padding-top: 30px;
    color:black;
    
    .newsSectionHeading{
      font-size: 1.3rem;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    &:hover {
      text-decoration: none;
    }
    .newsThumbnail{
      width: 100%;
    }
  }
  .dateNewsArticle{
    font-size: 14px;
    margin-bottom: 0px;
  }
  hr{
    margin-top: 0;
    margin-bottom:5px; 
  }
}
/**********END - FRONT PAGE**********/



/********** ARITCLE PAGES **********/
.articleContainer{
  margin-top:30px;
 }
 .article{
   line-height: 1.8;
   padding-right:50px;
   .articleImg{
    padding-bottom: 20px;
   }
 }
 @media (max-width:990px) {
  .article{
    padding-right:0px;
  }
}
 .breadcrumb{
  background-color: white;
  margin-top: 30px;
  padding:0;
}
.serviceTagSection{
  margin-top:30px;
  .serviceTag{
    margin: 5px;
    margin-left:0px;
    border-color: $primary-color;
    color:$primary-color;
    &:hover {
      background-color: $primary-color;
      color:white;
    }
  }
}
.articleEnglish {
  margin: auto;
}
.headingTop{
  margin-top: 30px;
}
#share-buttons{
  margin-bottom: 20px;
}
/*****Sidebar*****/

.sideNavbar{
  background-color: $secondary-color;
  padding-bottom: 20px;
}
.sidebarHeading{
  background-color:$primary-color; 
  color:white;
  padding:15px;
  margin: 0;
  white-space: nowrap;
}
.sidebarContent{
  .sidebarTitle{
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;

  }
  .hrSidebar{
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-color: rgb(182, 179, 179);
  }
  .sidebarLink{
    font-size: 15px;
    display: block;
    color:black;
    padding: 10px;
    padding-left: 25px;
    &:hover{
      text-decoration: none;
      background-color: lightgray;
    }
  }
}
.sideNavbarCollapse {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1021;
    top: 0;
    left: 0px;
    background-color:$secondary-color;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-y: auto;
    -webkit-transition: .5s;
    transition: .5s;
    .closebtn {
      position: absolute;
      left: 250px;
      font-size: 36px;
      color:white;
      &:hover{
        text-decoration: none;
      }
    }
}
.overlaySidebar{
  background-color:rgba(0, 0, 0, 0.5);
  width: 0;
  height: 100vh;
  z-index: 1021;
  position: fixed;
  top: 0;
  left: 0;
}
.expandbutton {
  background-color:$primary-color;
  color:white;
  margin-bottom: 20px;
  &:hover{
    color:white;
    background-color:rgb(34, 65, 138);
  }
}
@media (max-width:1200px) {
  .sideNavbar{
    display: none;
  }
}
/* Sidebar collapse */
@media (min-width:1200px) {
  .openbtn,.overlaySidebar, .sideNavbarCollapse {
    display: none;
  }
}

/****End - Sidebar*****/

/***********End - ARITCLE PAGES**********/




/*********** SEARCH PAGE ***********/

.searchSection{
  margin-top:20px;
  .searchResultHeading{
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .searchForm{
    margin-bottom:30px;
  }
}
.searchForm{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  input[type="search"]{
    outline: none !important;
    width: 85%;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  button{
    background-color: $primary-color;
    width: 15%;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  
}
.searchResult{
  color:black;
  padding:20px;
  &:hover{
    text-decoration: none;
  }
}

/***********End - SEARCH PAGE ***********/

 
/********* CONTACT PAGE ********/

.contactForm{
  margin:auto;
  input, select, textarea{
    border-radius: 0px;
    background-color: rgba(238, 238, 238, 0.87);
    border:none;
  }
}
.contactFormModal{
  margin:auto;
  input, select, textarea{
    border-radius: 0px;
  }
}
.modaleTitle{
  font-size: 1.3rem;
  padding-left:15px;
}
.modal-content{
  border-radius: 0px !important;
}
/*****Contact persons*****/
.contactSection{
  margin-top: 20px;
}
.contactPerson{
  margin-top: 30px;
  .contactImg{
    border-radius: 50%;
    max-width: 150px;
    height: 150px;
    display: block;
    margin: auto;
  }
  .contactInfo{
    display: block;
    text-align: center;
    padding-top:20px;
    h4{
      margin-bottom: 0px;
    }
    p{
      font-size: 14px;
      color:gray;
      margin:5px;
    }
  }
  button{
   border:1px solid lightgray;
   img{
     width: 20px;
     margin-right: 10px;
   }
  }
}
/*****End - contact persons******/

/*********End - CONTACT PAGE ********/

/********* ERROR 404 **********/

.errortitle {
  font-size: 4rem;
  padding-top: 40px;
  padding-bottom: 40px;
}
.errortext {
  font-size: 1.5rem;
}
.errorlink {
  font-size: 1.5rem;
}
.errorimage {
  max-width: 150px;
  padding-top: 60px;
}
/***********End - ERROR 404 **********/

/*********Customerstory*********/


.yearArchiveSection{
  display: flex;
}
  .yearArchive{
    margin-left: auto;
    &:hover, &:active{
      .dropdown-content{
        display:block;
      }
    }
    .button{
      background-color:white;
      border:none;
      border-bottom:1px solid gray;
      border-radius: 0;
      cursor: pointer;
    }
    .dropdown-content { 
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 170px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      a{
        display: block;
        padding:5px;
        color:black;
        &:hover{
          background-color: rgb(236, 236, 236);
          text-decoration: none;
        }
      }
    }
  }

.largeThumbnailSection{
  position: relative;
  margin-top:30px;
  overflow: hidden;
  padding-bottom: 40%;
  a{
    text-decoration: none;
  }
}
.largeThumbnail{
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0; 
  right: 0;
}
.largeThumbnailContent{
  background:rgba(255,255,255,0.9);
  color:black;
  position: absolute;
  width: 700px;
  padding:20px;
  bottom:20px;
  right:20px;
  .serviceHeadline{
    font-size: 14px;
    color:gray;
    font-weight: bold;
    margin: 0;
  }
  .serviceName{
    font-size: 14px;
    margin: 0;
  }
  &:hover{
    background-color: white;
    color:black;
  }
}
.smallThumbnailNews{
  display:none;
}
@media only screen and (max-width: 1200px) {
  .largeThumbnailSection{
    padding: 0px;
  }
  .largeThumbnailContent{
    position: relative;
    width: 100%;
    bottom:0px;
    right:0px;
    padding-left:0px;
    padding-right:0px;

  }
  .largeThumbnail{
    position: relative;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .smallThumbnailNews{
    display:block;
  }
  .largeThumbnailNews{
    display:none;
  }
}
/*******/
