@charset "UTF-8";
/*Dette er ikke ferdig. Skal fikse koden slik at den ser mer ryddig ut.*/
/*Må lage varibaler til farger, skriftstørrelser, eventuelt avstander*/
/*FIX Noen JS greier funker ikke i Exlporer*/
/*Tjeneste greia ser litt funky ut responsiv*/
/*Searchbar trenger en real FFFFIIIXXX*/
/***Masse rot***/
.logoImg {
  height: 50px;
}

.navbar {
  /*border-bottom: 1px solid gray;*/
  -webkit-box-shadow: 0px 15px 10px -20px #111;
          box-shadow: 0px 15px 10px -20px #111;
}

.navbarLink {
  color: black !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.txtHeader {
  width: 500px;
}

.iconSearch {
  height: 30px;
  cursor: pointer;
}

.searchbar {
  -webkit-transition: none !important;
  transition: none !important;
  width: 500px;
  padding: 15px;
  background-color: white;
  /*box-shadow: 0px 0px 2px 2px lightgray;*/
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  position: absolute;
  z-index: 1;
  top: 85px;
  right: 10px;
}

.searchbar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchbar form input[type="search"] {
  outline: none !important;
  width: 85%;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.searchbar form button {
  background-color: #192E60;
  width: 15%;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media (max-width: 990px) {
  .searchbar {
    width: 100%;
    padding: 15px;
    background-color: white;
    position: relative;
    margin: 0;
    z-index: 0;
    top: 0px;
    right: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.breadcrumb {
  background-color: white;
  margin-top: 10px;
  margin-left: 55px;
}

.serviceTagSection {
  padding: 70px;
}

.serviceTagSection .serviceTag {
  margin: 5px;
  border-color: #192E60;
  color: #192E60;
}

.serviceTagSection .serviceTag:hover {
  background-color: #192E60;
  color: white;
}

.heading1 {
  padding: 10px;
  padding-bottom: 30px;
}

/***End - masse rot***/
/***Front page***/
.servicesSection {
  padding-top: 30px;
  margin-bottom: 60px;
}

.servicesSection .serviceCatSection {
  text-align: center;
  margin-top: 60px;
}

.servicesSection .serviceCatSection .serviceCatIcon {
  width: 80px;
}

.servicesSection .serviceCatSection .catDescr {
  width: 350px;
  min-height: 150px;
  margin: auto;
}

.servicesSection .serviceCatSection .catDescr .serviceHeading {
  font-size: 20px;
}

.servicesSection .serviceCatSection .btnService {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #192E60;
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.totalDeliverySection {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e2e2e2;
  text-align: center;
}

.totalDeliverySection .totaldeliveryTxt {
  margin: auto;
  padding: 20px;
  max-width: 900px;
}

.newsSection {
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.newsSection .newsArticleSection {
  position: relative;
}

.newsSection .newsArticleSection:hover {
  cursor: pointer;
}

.newsSection .newsArticleSection .newsThumbnail {
  width: 100%;
}

.valuesSection {
  margin-top: 50px;
}

/***End - front page***/
/***Footer***/
footer {
  margin-top: 50px;
  width: 100%;
  min-height: 150px;
  background-color: #192E60;
  color: white;
  padding: 30px;
}

footer .footerSection {
  padding: 20px;
}

/***End - footer***/
/***Article pages***/
.articleContainer {
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.classtest {
  font-weight: bold;
  text-decoration: underline;
}

.article {
  line-height: 1.8;
  padding-right: 50px;
}

/***End - Article pages***/
/***Sidebar***/
.sideNavbar {
  background-color: #e2e2e2;
  padding-bottom: 20px;
}

.sideNavbar .sidebarHeading {
  background-color: #192E60;
  color: white;
  padding: 20px;
}

.sideNavbar .sidebarContent .sidebarTitle {
  font-size: 16px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.sideNavbar .sidebarContent .sidebarLink {
  display: block;
  color: black;
  padding: 10px;
  padding-left: 25px;
}

.sideNavbar .sidebarContent .sidebarLink:hover {
  text-decoration: none;
  background-color: lightgray;
}

/***End - Sidebar***/
/***Contact persons***/
.contactSection {
  margin-top: 20px;
}

.contactPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.contactPerson .contactImg {
  border-radius: 50%;
}

/***News page***/
.firstNewsSection {
  margin-bottom: 30px;
}

.firstNewsThumbnail {
  width: 100%;
}

.dateNewsArticle {
  background-color: #e2e2e2;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  top: 20px;
}

/***Search page***/
.searchSection {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 20px;
}

.searchForm {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchForm input[type="search"] {
  outline: none !important;
  width: 85%;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.searchForm button {
  background-color: #192E60;
  width: 15%;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.searchResult {
  color: black;
  padding: 20px;
}

.searchResult:hover {
  text-decoration: none;
}

/***End - Search page***/
/*# sourceMappingURL=ragnhild.css.map */