/*Dette er ikke ferdig. Skal fikse koden slik at den ser mer ryddig ut.*/
/*Må lage varibaler til farger, skriftstørrelser, eventuelt avstander*/
/*FIX Noen JS greier funker ikke i Exlporer*/
/*Tjeneste greia ser litt funky ut responsiv*/
/*Searchbar trenger en real FFFFIIIXXX*/

/***Masse rot***/

.logoImg{
  height: 50px;
}
.iconSearch{
  height: 30px;
  cursor: pointer;
}
.navbar{
  /*border-bottom: 1px solid gray;*/
  box-shadow: 0px 15px 10px -20px #111;
}
.navbarLink{
  color:black !important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.navbar li {
  margin-left : 0.5em;
  margin-right : 0.5em;
}
.txtHeader{
  width: 500px;
}
.searchbar{
  width: 300px;
  padding: 10px;
  background-color: #e2e2e2;
 
  form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }
}
.breadcrumb{
  background-color: white;
  margin-top: 10px;
  margin-left: 55px;
}
.serviceTagSection{
  padding:70px;
  .serviceTag{
    margin: 5px;
    border-color: #192E60;
    color:#192E60;
    &:hover {
      background-color: #192E60;
      color:white;
    }
  }
}
.heading1{
  padding:10px;
  padding-bottom: 30px;
}
/***End - masse rot***/

/***Front page***/

.servicesSection{
  padding-top: 30px;
  margin-bottom: 60px;
  .serviceCatSection{
    text-align: center;
    margin-top: 60px;
    .serviceCatIcon{
      width: 80px ;
      }
    .catDescr{
      width: 350px;
      min-height: 150px;
      margin: auto;
      .serviceHeading{
        font-size:20px ;
      }
    }
    .btnService{
      width: 300px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #192E60;
      color:white;
      display: block;
      margin: auto;
      margin-bottom: 5px;
    }
  }
}
.totalDeliverySection{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e2e2e2;
  text-align: center;
  .totaldeliveryTxt{ 
    margin: auto;
    padding:20px;
    max-width: 900px;
  }
  .totaltdeliveryImg{
    max-width: 900px;
  }
}
.newsSection{
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  .newsArticleSection{
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .newsThumbnail{
      width: 100%;
    }
  }
}
.valuesSection{
  margin-top: 50px;
}
/***End - front page***/

/***Footer***/
footer{
  margin-top: 50px;
  width: 100%;
  min-height: 150px;
  background-color:#192E60; 
  color:white;
  padding:30px;
 .footerSection{
  padding:20px;
 }
}
/***End - footer***/

/***Article pages***/
.articleContainer{
 margin-top:30px;
 padding-left: 70px;
 padding-right: 70px;
}
.classtest{
  font-weight: bold;
  text-decoration: underline;
}
.article{
  
  line-height: 1.8;
  padding-right:50px;
}

/***End - Article pages***/

/***Sidebar***/
.sideNavbar{
  background-color: #e2e2e2;
  padding-bottom: 20px;
  
  .sidebarHeading{
    background-color:#192E60; 
    color:white;
    padding:20px;
  }
  .sidebarContent{
    .sidebarTitle{
      font-size: 16px;
      padding-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
      
    }
    .sidebarLink{
      display: block;
      color:black;
      padding: 10px;
      padding-left: 25px;
      &:hover{
        text-decoration: none;
        background-color: lightgray;
      }
    }
  }
}
/***End - Sidebar***/

/***Contact persons***/
.contactSection{
  margin-top: 20px;
}
.contactPerson{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .contactImg{
    border-radius: 50%;
  }
  .contactInfo{
    
  }
}

/***News page***/
.firstNewsSection{
  margin-bottom: 30px;
}
.firstNewsThumbnail{
  width: 100%;
}
.dateNewsArticle{
  background-color: #e2e2e2;
  padding:10px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  
}