
/* Kontakt page */

.contact-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    color: #7c7c7c;
    line-height: 2.3rem;
    padding-bottom: 30px;
}

.ContactTitle {
    padding-bottom: 20px;
    padding-top: 30px;
}

.ContactSubtitle {
    padding-bottom: 40px;
    padding-top: 60px;
}

.ContactPageForm {
    width: 60vw;
}

.ContactPageButton {
    background-color: #2377BD;
    width: 200px;
}

/* Kundehistorier */

.kundeHistorierContainer{
    position: relative;
    text-align: center;
    color: white;
}

.kundeHistorierContent {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 20rem;
    text-align: left;
    padding: 30px;
    background-color: #FFFFFF;
    color: #000000;
}

.yearSort{
    margin-top: -30px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .kundeHistorierContent {
        position: inherit;
        left: 50%;
    }
}